/* DESKTOP */
html {
  scroll-behavior: smooth;
}
body {
  padding: 0.75rem 0;
  background-color: #e7eaef;
  height: 100%;
}

header,
footer,
section {
  padding: 0 4.5rem;
}

#loader {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 99999;
  background-color: #616161;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #edc5ab;
  padding-bottom: 1rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.header__nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.header__nav-link {
  position: relative;
  color: #217074;
  transition: all 300ms;
}

.header__nav-link:hover a {
  color: #8b9d77;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.15rem;
  background: #217074;
  bottom: -1.3rem;
  left: 0;
  opacity: 0;
  transition: all 300ms;
}

.header__nav-link:hover::after {
  opacity: 1;
  width: 100%;
}

.main {
  margin-top: 2rem;
}

.banner {
  position: relative;
  height: 450px;
  border-radius: 1rem;
}

.banner__overlay {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.banner__overlay-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.banner__overlay-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #eee;
}

.banner__overlay-text p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #dedede;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 3rem;
}
.middle__info {
  min-width: 100%;
}

.middle__info img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 0.75rem;
}

.middle__info-customer {
  margin-top: 1rem;
  position: relative;
  padding-bottom: 20px;
}

.middle__info-customer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  background-color: #ddd;
  width: 150px;
}

.middle__info-customer p {
  text-align: center;
  color: #616161;
  font-size: 1.25rem;
  font-weight: 500;
}

.middle__customers {
  display: flex;
  min-width: 100%;
  overflow-x: auto;
  margin-top: 2rem;
}

.middle__customers::-webkit-scrollbar {
  display: none;
}

.middle__customer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-basis: 33.3%;
  flex-shrink: 0;
  height: 100%;
}

.middle__customer img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 100%;
}

.middle__customer-desc {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.middle__customer-desc h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #217074;
}

.middle__customer-desc p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #8b9d77;
}

.middle__contact {
  background: #edc5ab;
  border: 1px solid #e7eaef;
  border-radius: 0.75rem;
  padding: 3rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.middle__contact-header {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.middle__contact-header h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #217074;
}

.middle__contact-header p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #37745b;
}

.middle__contact-form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form__group label {
  color: #217074;
  font-weight: 500;
  font-size: 0.9rem;
}

.form__group input,
.form__group select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button__submit {
  padding: 1rem 1.2rem;
  background: #37745b;
  border-radius: 4px;
  color: #e7eaef;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.button__submit:disabled {
  cursor: not-allowed;
}

.feature {
  margin-top: 1rem;
  width: 45%;
}

.feature h1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #217074;
}

.feature__lists {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.feature__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.feature__list span {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #dedede;
  text-align: center;
  line-height: 30px;
  font-size: 1rem;
}

.feature__list p {
  font-size: 0.8rem;
  color: #37745b;
  font-weight: 500;
}

.package__banner {
  margin-top: 3rem;
  height: 200px;
  background-color: #edc5ab;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 700;
  color: #217074;
}

.package__contents-top,
.package__contents-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  position: relative;
  padding: 5rem 0;
}

.package__contents-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  background-color: #edc5ab;
  width: 120px;
}

.package__content-item {
  display: flex;
  align-items: start;
  gap: 0.8rem;
}

.package__content-desc {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.package__content-desc h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #217074;
}

.package__content-desc p {
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  color: #8b9d77;
}

.call {
  padding: 4rem 0;
  border-top: 1px solid #217074;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.call h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #217074;
}

.call p {
  font-weight: 500;
  font-size: 1rem;
  color: #217074;
  text-align: center;
  width: 42%;
}

.call .button__submit {
  padding: 1rem 6rem;
}

.footer {
  margin-top: 2rem;
  padding: 2rem 4rem;
  text-align: center;
  border-top: 1px solid #217074;
  color: #217074;
}

.footer__lists {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.7rem;
}

/* TABLET */
@media (max-width: 1024px) {
  .banner__overlay-text {
    width: 100%;
  }

  .banner__overlay-text h1 {
    font-size: 2rem;
    padding: 0 1rem;
    line-height: 1.2em;
  }

  .banner__overlay-text p {
    font-size: 1.1rem;
  }

  .middle {
    grid-template-columns: repeat(1, 1fr);
  }

  .middle__customer {
    flex-basis: 25%;
  }

  .feature {
    width: auto;
  }
}

/* MOBILE */
@media (max-width: 720px) {
  header,
  footer,
  section {
    padding: 0 1rem;
  }

  .middle__customer {
    flex-basis: 50%;
  }

  .feature h1 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: justify;
  }
  .package__contents-top,
  .package__contents-bottom {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 0;
  }
  .package__contents-top::after {
    width: 100%;
  }
  .call h1 {
    text-align: center;
    font-size: 1.6rem;
  }
  .call p {
    width: 70%;
  }
}
